{% extends 'TupiAdminBundle:Template:main.html.twig' %}

{% block botoes %}
	{{ admin.form_button('imovel_tag_home', 'Voltar', {'class': 'voltar'}) }}
	{{ admin.sbutton('Salvar', 'salvar', admin.id_by_name(form)) }}
	{{ admin.rbutton('imovel_tag_remove', 'Excluir', {'class': 'excluir'}) }}
{% endblock %}

{% set title_controle = 'Adicionar Tag' %}

{% block main %}
<div class="formulario esp_top row">
		{{ form_start(form) }}
			{{ form_row(form.id) }}
			<div class="col-md-12 col-sm-12"> 
				<ul class="row">
					<ul class="col-md-12 col-sm-12">
						<li class="col-md-12 col-sm-12">{{ form_row(form.tag) }}</li>
					</ul>
	    		</ul>
    		</div>
		{{ form_end(form) }}
	</div>
</div>
{% endblock %}